<h2 class="mt-5">Resumo dos Tickets</h2>
<div class="table-responsive" >
<div class="container">   
    <div class="row">  
    <div class="col-sm"> Novas </div>   
    <div class="col-sm"> {{ summary.amountNew}} </div>  
    </div>

    <div class="row">  
        <div class="col-sm"> Atribuído </div>   
        <div class="col-sm"> {{ summary.amountAssigned}} </div>  
    </div>    

    <div class="row">  
        <div class="col-sm">  </div>   
        <div class="col-sm"> {{ summary.amountResolved}} </div>  
    </div>

    <div class="row">  
        <div class="col-sm">  </div>   
        <div class="col-sm"> {{ summary.amountAproved}} </div>  
    </div>

    <div class="row">  
        <div class="col-sm">  </div>   
        <div class="col-sm"> {{ summary.amountDisaproved}} </div>  
    </div>

    <div class="row">  
        <div class="col-sm">  </div>   
        <div class="col-sm"> {{ summary.amountClosed}} </div>  
    </div>
</div>  

</div>
