<h3 class="mt-5">HelpDesk | Lista de Usuarios
</h3>


      <div class="table-responsive" >

        <table class="table table-striped" >
          <thead>
            <tr>
              <th>Email</th>
              <th>Profile</th>
              <th></th>
              <th></th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of usuarios" >             
              <td>{{ item.email }}</td>
              <td>{{ item.profile }}</td>
              <td ><button (click)="edit(item.id)" class="btn btn-primary">editar</button> </td>
              <td><button (click)="delete(item.id)" class="btn btn-primary">excluir</button></td>
            </tr>
          </tbody>
        </table>
        <!--<div><ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="" (click)="setPreviousPage($event)" >&raquo;</a> </li>
          <li *ngFor="let p of paginas; let i=index">
             <a href="" [ngClass]="{pagination-focus : i == pag}"
              (click)="setPage(i, $event)">{{ i + 1 }}</a>
          </li>
          <li><a href="" (paginationEvent)="setNextPage($event)">&raquo;</a> </li>
        </ul></div>-->       
        <pagination [page]="page" (paginationEvent)=changePage($event)></pagination>
