<h3 class="mt-5">HelpDesk | Lista de Usuarios
</h3>


      <div class="table-responsive" style="width: 100%;">

        <table class="table table-striped" >
          <thead>
            <tr>
              <th>Id</th>
              <th>Email</th>
              <th>Profile</th>
              
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of usuarios" >
              <td >{{ item.id }}</td>
              <td >{{ item.email }}</td>
              <td  width="100">{{ item.profile }}</td>
              <!--<td  width="200">
                <i class="material-icons" >
                  delete_forever
                  </i>               
                  <i class="material-icons" >
                    edit
                    </i> 
              </td>-->

            </tr>

          </tbody>
        </table>
        <pagination [page]="page" (paginationEvent)=changePage($event)></pagination>
